/.env
/vendor/
/storage/cache/*
/storage/logs/*
/storage/sessions/*
!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/sessions/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
*.log
.DS_Store
Thumbs.db
